config.cfg
server_blacklist.txt
sound.cache
downloads/
downloadlist/
custom/
gamestate.txt
downloadcache.db
demoheader.tmp
stats.txt
tf2_playerstats.dmx
settings.scr
viewed.res
modelsounds.cache
serverconfig.vdf
