addons/
screenshots/
config.cfg
cfg/autoexec.cfg
server_blacklist.txt
sound.cache
download/
downloadlists/
custom/
gamestate.txt
downloadcache.db
demoheader.tmp
stats.txt
tf2_playerstats.dmx
settings.scr
viewed.res
modelsounds.cache
serverconfig.vdf
materials/temp
maps/graphs/
maps/graphs/dm_aerowalk.ain
sound/temp
albedo.tga
normal.tga
cfg\user.scr
